
{% extends "layout.html" %} 
{% block head%}
<link rel="stylesheet" href="/static/styles/mail.css">{% endblock %}
{% block title %}Mail{% endblock %} 

{% block content %}
<div class="MAILS">

    <div class="sendmailsbtn">
        
        <a href="http://127.0.0.1:5000/mailsext"><button class="button-30" role="button">Send Mails</button></a>
    </div>
    <div class="prev_events_content">
        <ul class="list-group">
          {% for mail in mails%}
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Subject:{{mail['subject']}}</h5>
              <small>{{mail['date']}}</small>
              <small>To:{{mail['to']}}</small>
            </div>
            <p class="mb-1"></p>
            <small>{{mail['body']}}</small>

          </li>
          {% endfor %}
          
        </ul>
      </div>
    </div>
</div>

{% endblock %}