
{% extends "layout.html" %} 
{% block head%}
<link rel="stylesheet" href="/static/styles/mailsext.css">{% endblock %}
{% block title %}Forums{% endblock %} 

{% block content %}
<h1>{{success}}</h1>
<form method="post">
    <input type="email" name="email" placeholder="Email" required id="">
    <input type="text" name="subject" placeholder="Subject" required id="" >
    <textarea name="message" id="" cols="30" rows="10" required placeholder="message body"></textarea>
    <input type="submit" value="Send Message">


</form>
{% endblock %}