
{% extends "layout.html" %} 
{% block head%}
<link rel="stylesheet" href="/static/styles/mailsext.css">{% endblock %}
{% block title %}Forums{% endblock %} 

{% block content %}
<form action="">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">To:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Event's Name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Schedule</label><br>
        <input type="date" name="schedule">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Event's Description"></textarea>
    </div>
    <div class="mb-3" id="BTN">
        <input type="submit" id="submitbtn">
    </div>
</form>
{% endblock %}