*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body,html{
    overflow-x: hidden;
    background-color: #F1E9DF;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient( rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(./6.jpg);
    background-position: center;
    background-size: cover;
     position: relative; 
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}
nav a img{
    height: 70px;
    widows: 64px;
}
.navitems{
    flex:1;
    text-align: center;
    /* text-align: right; */
}
.navitems ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    /* padding: 8px 12px; */
    position: relative;
}

.navitems ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.navitems ul li::after{
    content:'';
    width: 0%;
    height:2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navitems ul li:hover::after{
    width: 100%;

}
nav .fa{
    display: none;
}

 .btn{
    float: right;
    margin: 3px 6px;
    padding: 2px 4px;
    /* background-color: rgba(58, 52, 52,0.3); */
    background-color:black;
    /* color: #fff; */
    color: #176B87;
    font-weight: bolder;
} 
.btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    /* color: rgba(255,69,0,0.9); */
}
@media(max-width:700px){
    .navitems ul li{
        display: block;
    }
    .navitems{
        position: absolute;
        background: #f44336;
        height:100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .navitems ul{
        padding: 30px;
    }

    .btn{
        position: absolute;
        /* padding: 2px 4px; */
        
        
    }
    #btn1{
        left:44%;
        display: none;
    }
    #btn2{
        left:56%;
        display: none;
    }
}

.eh{
    font-size: 50px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;

}

/* events----------------------------------------------------------------------------------------------------------- */
.box31{
    margin: 70px 10px;
    display: flex;
    flex-direction: column;
}

.sbox31{
    display: flex;
    /* width: 50%; */
    /* border: 2px solid red; */
    background-color: #176B87;
    margin:25px 10px ;
}
.smallbox32{
    width: 50%;
    margin: 25px 35px;

    /* border: 2px solid red; */
}
.smallbox32 h3{
    margin:15px 0px ;
    color: white;
    font-size: 30px;
}
.smallbox32 img{
    width: 100%;
    height: 100%;
}
.smallbox32 p{
    color: #fff;
    font-size: 20px;
}
.date31{
    color: white;
    font-size: 15px;
}
.calimg{
    height: 1px;
    width: 1px;
}
.smallbox32 span img{
    height: 30px;
    width: 30px;
    position: relative;
    top: 7px;
}

.registerbtn{
    display: block;
    margin: 2px auto;
    padding: 8px;
    font-size: 17px;
    color: white;
    background-color: purple;

}

/* ---------------iphonexr version----------------------------------------------------------------------- */

@media(max-width:425px){
.header{
    min-height: 58vh;
}
.navitems{
    height: 58vh;

}
.eh{
    font-size: 45px;
    left: 30%;
    /* display: block;
    margin:0px auto; */
    
}
    .sbox31{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .smallbox32{
        width: 95%;
        margin: 15px auto;
    }
    .smallbox32 h3{
        font-size: 25px;
    }
    .smallbox32 p{
        font-size: 15px;
    }
}