* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Ubuntu" !important;
}

body {
    background-image: url('../static/Group 46.png');
}

/* .barnav{
    font-family: 'Inter';
     position: fixed; 
    height: 18%;
    width: 100%;
    background-color: #003153;
}
  
.topds{
    position: absolute;
    background-color: #f5f5f5;
    height: 36%;
    width: 100%;
    z-index: -1;
}
  
#log{
    position: relative;
    top: 10%;
    left: 5%;
    height: 80%;
}
  
#clg{
    font-size: 20px;
}
  
#nm{
    position: absolute;
    top: 10%;
    left: 16%;
}
  
.subbar ul li a{
    text-align: center;
    text-decoration: none;
    color: white;
}
  
.subbar ul{
    width: 100%;
}
  
.subbar ul li{
    font-size: 12px;
    text-align: center;
    margin-right: 5%;
    transform: translateY(-150%);
}
  
.subbar ul li:nth-child(1){
    margin-left: 40%;
}
  
.subbar ul li:nth-child(1) a:hover{
    color: cyan;
}
  
.subbar ul li:nth-child(2) a:hover{
    color: cyan;
}
  
.subbar ul li:nth-child(3) a:hover{
    color: cyan;
}
  
.subbar ul li:nth-child(4) a:hover{
   color: cyan;
} */


#navbar {
    z-index: 5;
    /* display: flex; */
    display: grid;
    grid-template-areas:
        'logo iit'
        'logo root';
}

.root {
    display: flex;
    /* margin-top: 51px; */
    /* margin-right: 800px; */
    /* margin-left: -800px; */
    /* margin: 0px 25px; */
    /* display: grid; 
     border: 2px solid red;  
     grid-template-columns: repeat(4, 1fr); 
       grid-column-gap: 16rem;   */

    grid-area: root;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
}

#navbar ul li a {
    font-size: 14px;
    text-decoration: none;
    /* padding: 100px; */
    color: white;
    /* padding-bottom:25px ; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin: 0px 90px;
}

#navbar ul li {
    list-style: none;
}

#logo {
    padding-left: 50px;
    /* height: 150px; */
    /* width: 150px; */
    grid-area: logo;
    position: relative;
    top: 10px;
}

img {
    height: 102px;
    width: 84px;

}

.iit {
    font-size: 20px;
    display: inline-block;
    grid-area: iit;
    /* width: 533px; */
    /* margin-right: 1500px; */
    /* height: 37px; */
    margin-top: 20px;
    color: black;
    margin-left: -100px;

    /* margin: 10px; */
    /* margin-left: -49px; */
    /* border: 2px solid red;  */

}

.IITI {
    display: none;
}

#menu {
    display: none;
}

#navbar::before {
    content: "";
    background-color: #4c5175;
    position: absolute;
    top: 45px;
    width: 100%;
    height: 60px;
    z-index: -1;
    overflow: hidden;
}

 .container::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 80px;
    z-index: -1;
    overflow: hidden;
} 

#navbar ul li a:hover {
    color: aqua;
}

.btn1 {

    /* display: block; */
    float: right;
    margin: 0px 10px;
    /* position: absolute;  */
    position: relative;
    bottom: 90px;
    font-size: 12px;
    background-color: #bce7d9;
    padding: 6px 6px;
}

.btn1:hover {
    background-color: grey;
    color: violet;
}

.lol {
    overflow: hidden;
}

/* media quries for navbar  */

@media only screen and (min-width:950px) and (max-width:1215px) {

    /* .IITI{
       display: block; font-size: 35px;
       display: inline-block;
       grid-area: iit;
       height: 37px;
       margin-top: 30px;
       color: black;
   }*/
    .iit {
        margin-left: 35px;
    }

    #navbar ul li a {
        margin: 0px 60px;
    }

}

@media only screen and (min-width:750px) and (max-width:950px) {

    /* .IITI{
       display: block; font-size: 35px;
       display: inline-block;
       grid-area: iit;
       height: 37px;
       margin-top: 30px;
       color: black;
   }*/
    .iit {
        margin-left: 65px;
    }

    #navbar ul li a {
        margin: 0px 60px;
    }

}

@media only screen and (min-width:520px) and (max-width:750px) {
    #navbar ul li a {
        margin: 0px 30px;
    }
}

@media only screen and (min-width:400px) and (max-width:520px) {
    #navbar ul li a {
        margin: 0px 20px;
    }

    #logo {
        padding-left: 10px;
    }

    nav div img {
        height: 102px;
        width: 62px;
    }
}

@media only screen and (min-width:320px) and (max-width:400px) {
    #navbar ul li a {
        margin: 0px -22px;
        margin-left: 86px;
    }

    #logo {
        padding-left: 10px;
    }

    nav div img {
        height: 102px;
        width: 62px;
    }

    .item {
        display: none;
    }

    #home {
        display: inline-block;

    }

    #menu {
        display: inline-block;
    }
}

@media only screen and (min-width:270px) and (max-width:320px) {
    #navbar ul li a {
        margin: 0px 22px;
        margin-left: 57px;
    }

    #logo {
        padding-left: 10px;
    }

    nav div img {
        height: 102px;
        width: 62px;
    }

    .item {
        display: none;
    }

    #home {
        display: inline-block;

    }

    #menu {
        display: inline-block;
    }
}


/* iit indore tag in different phone  */
/* iphone se  */
@media only screen and (min-width:360px) and (max-width:400px) {
    .iit {
        display: none;
    }

    .IITI {
        display: block;
        font-size: 15px;
        display: inline-block;
        grid-area: iit;
        height: 37px;
        margin-top: 30px;
        margin-left: -45px;
        color: black;
    }

    #navbar::before {
        height: 47.5px;
        top: 55px;
    }

}

@media only screen and (min-width:400px) and (max-width:500px) {
    .iit {
        display: none;
    }

    .IITI {
        display: block;
        font-size: 15px;
        display: inline-block;
        grid-area: iit;
        height: 37px;
        margin-top: 30px;
        margin-left: -8px;
        color: black;
    }

    #navbar::before {
        height: 47.5px;
        top: 55px;
    }

}

@media only screen and (min-width:500px) and (max-width:600px) {
    .iit {
        display: none;
    }

    .IITI {
        display: block;
        font-size: 15px;
        display: inline-block;
        grid-area: iit;
        height: 37px;
        margin-top: 30px;
        margin-left: -49px;
        color: black;
    }

    #navbar::before {
        height: 47.5px;
        top: 55px;
    }

    nav div img {
        width: 60px;
    }

    #logo {
        padding-left: 10px;
    }

}

@media only screen and (min-width:521px) and (max-width:600px) {
    .iit {
        display: none;
    }

    .IITI {
        display: block;
        font-size: 15px;
        display: inline-block;
        grid-area: iit;
        height: 37px;
        margin-top: 30px;
        margin-left: -26px;
        color: black;
    }

    #navbar::before {
        height: 47.5px;
        top: 55px;
    }

    #logo {
        padding-left: 10px;
    }

}

@media only screen and (min-width:600px) and (max-width:900px) {
    .iit {
        display: none;
    }

    .IITI {
        display: block;
        font-size: 15px;
        display: inline-block;
        grid-area: iit;
        height: 37px;
        margin-top: 30px;
        margin-left: -55px;
        color: black;
    }

    #navbar::before {
        height: 47.5px;
        top: 55px;
    }

    #logo {
        padding-left: 10px;
    }

}

@media only screen and (min-width:700px) and (max-width:900px) {
    .IITI {
        margin-left: -105px;
        font-size: 20px;
    }
}

@media only screen and (min-width:750px) and (max-width:900px) {
    .IITI {
        margin-left: -6px;
        font-size: 20px;
    }
}

@media only screen and (min-width:900px) and (max-width:1100px) {
    .iit {
        margin-left: -58px;
        font-size: 20px;
    }
}

@media only screen and (min-width:1100px) and (max-width:1215px) {
    .iit {
        margin-left: -156px;
        font-size: 20px;
    }
}

@media only screen and (min-width:310px) and (max-width:360px) {
    .iit {
        display: none;
    }

    .IITI {
        display: block;
        font-size: 15px;
        display: inline-block;
        grid-area: iit;
        height: 37px;
        margin-top: 30px;
        margin-left: -27px;
        color: black;
    }

    #navbar::before {
        height: 45px;
        top: 55px;
    }

    #logo {
        padding-left: 10px;
    }


}

@media only screen and (min-width:321px) and (max-width:336px) {
    .IITI {
        margin-left: -26px;
    }
}

@media only screen and (min-width:270px) and (max-width:310px) {
    .IITI {
        display: none;
    }

    .iit {
        display: none;
    }

    nav ul li a {
        position: relative;
        bottom: 20px;
        margin: 0px 22px;
        margin-left: 57px;
    }
}

@media only screen and (min-width:311px) and (max-width:320px) {
    nav ul li a {
        position: relative;
        bottom: 5px;
    }
}

@media only screen and (min-width:309px) and (max-width:310px) {
    nav ul li a {
        position: relative;
        bottom: 17px;
    }
}

@media only screen and (min-width:320px) and (max-width:340px) {
    nav ul li a {
        position: relative;
        bottom: 8px;
    }
}

@media only screen and (min-width:340px) and (max-width:400px) {
    nav ul li a {
        position: relative;
        bottom: 10px;
    }
}

/* profile  */

.profilepage {
    /* display: grid;
   
    grid-template-areas: 
    'name access events'
    'abou access events';
    width: 100%; */
    display: flex;

}

.crater36 {
    margin: 10px;
    padding: 5px 12px;
}

.name {
    /* grid-area: name; */
    display: flex;
    background-color: white;
    /* border: 2px solid red; */
    padding: 5px 0px;
    /* width: 45%; */
    /* max-width: 55%; */
    /* min-width: 55%; */
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    border-radius: 15px;
    transform: translateY(-3px);
    z-index: 0;
    height: fit-content;

}

.name div img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 1px auto;
}

.box {
    margin: 27px 5px;
    padding: 3px 6px;
    /* border: 2px solid red; */
}

#box1 {
    display: flex;
    align-items: center;
}

.aboutme {
    /* grid-area: abou; */
    /* border: 2px solid red; */
    /* width: 45%; */
    /* max-width: 55%; */
    /* min-width: 55%; */
    margin: 80px 0px;
    margin-bottom: 0px;
    /* margin-left: 15px; */
    padding: 5px;
    /* margin-top: 0px; */
    padding: 15px 0px;
    background-color: white;
    border-radius: 15px;
    /*box-shadow: 1px 1px 5px black, -1px -1px 5px black;*/
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    background-color: white;
    margin-top: 30px;
    height: 380px;
    z-index: 0;
}

.aboutme h3 {
    font-size: 25px;
    padding-left: 12px;
}

.aboutme p {
    padding: 45px;
}

.horizontalline1 {
    border: 0.1px solid black;
    width: 92%;
    margin: 0px auto;
    margin-top: 10px;

}

.ppam33 {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.accessibility {
    width: 30%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    transform: translateX(-5px);
    
    z-index: 0;
}

.accessibility h3 {
    font-size: 25px;
    padding-left: 12px;
    padding: 10px;
    padding-top: 21px;
}

.btn35{
    padding: 3px 14px;
    display: block;
    margin: 45px auto;
    font-size: 25px;
    background-color: #003153;
    color: white;
    border-radius: 15px;
}
.btn35 a{
    color: white;
    text-decoration: none;
}

.aimg47{
    height: 54px;
    width: 54px;
}

.horizontalline2 {
    border: 0.1px solid black;
    width: 92%;
    margin: 0px auto;
    margin-top: 8px;
    

}

.events {
    background-color: white;
}

.infopersonal h3 {
    padding: 7px 0px;
    font-size: 24px;
}

.infopersonal p {
    font-size: 12px;
    padding: 4px;
}

.infopersonal div {
    padding-left: 5px;
}

.btn35{
    height: 40px;
    width: 200px;
}

.connectbtn {
    padding: 5px 15px;
    border: none;
    display: block;
    margin: 0px auto;
    background-color: #003153;
    color: white;
    margin-top: 10px;
    border-radius: 15px;
    z-index: 0;
}

.connectbtn:hover{
    background-color: #00477a;
}

.connectbtn a {
    color: white;
    text-decoration: none;

}

.PROFILEPAGE {
    margin: 50px 0px;
}

.events {
    /* margin-left: -140px; */
    padding: 15px 0px;
    padding-bottom: 0px;
    /* border: 2px solid red; */
    display: flex;
    height: 700px;
    flex-direction: column;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
}

.events img {
    padding: 25px 20px;
    height: 250px;
    width: 90%;
}

.events h3 {
    font-size: 25px;
    padding-left: 15px;
    padding: 10px;
    padding-top: 11px;
}

.horizontalline3 {
    border: 0.1px solid black;
    width: 92%;
    margin: 0px auto;
    margin-top: 6px;

}

.scroll-div {
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}

/* Hiding scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}


/* Hiding scrollbar for IE, Edge and Firefox */
body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

/* -------------------------------------------------------iphonexr------------------------------------------------ */
@media(max-width:425px){
    .IITI{
        margin-left: 10px;
        font-size: 20px;
    }

    .ppam33{
        display:block;
        width: 100%;
        width: fit-content;
    }
    .name{
        display: block;
    }

    .profilepage{
        display: block;
    }
    .infopersonal h3{
        /* margin:0px auto; */
        text-align: center;
    }
    .crater36{
    margin: 0px;
    padding: 1px 12px;

    }
    .box {
        margin: 27px 5px;
        padding: 1px 6px;
        /* border: 2px solid red; */
    }
    .accessibility{
        border: none !important;
        display: block;
        width: 80%;
        margin:30px auto;
    }

    .events{
        display: block;
        width: 80%;
        margin: 45px auto;
        height: fit-content;
    } 
}

.accessibility button{
    border: none;
    transition: 0.2s;
    background: #003153;
}

.accessibility button:hover{
    background: #00477a;
    border: none;
    transition: 0.2s;
}

.btn35{
    margin-top: 20px;
    margin-bottom: 20px;
}

.desc{
    text-align: center;
}

.desc label{
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-3%, -50%);
    color: #adadad;
    font-size: 32px;
    pointer-events: none;
    transition: 0.5s;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 80%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    color: #adadad;
    z-index: -5;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 80%;
}
