<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login - IITI Alumni</title>
    <link rel="stylesheet" href="counter.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="./counter.js"></script>
</head>

<body>
    <section class="ctr">
        <img src='./CounterBooks.png' id="cbs">
        <div class="ctrs">
            <ul id='ula' style="list-style: none;">
                <li>
                    STUDENTS
                </li>
                <li class="nol no1">
                    1200+
                </li>
            </ul>
            <ul id='ulb' style="list-style: none;">
                <li>
                    ALUMNI
                </li>
                <li class="nol no2">
                    4000+
                </li>
            </ul>
            <ul id='ulc' style="list-style: none;">
                <li>
                    FACULTY
                </li>
                <li class="nol no3">
                    50+
                </li>
            </ul>



        </div>
    </section>
</body>

</html>