<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/events.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <section class="header">
        <div class="container">
            <!-- <button class="btn" id="btn1">LOG IN</button>
            <button class="btn" id="btn2">JOIN IN</button> -->
            <nav>
                <a href="index.html"><img src="../static/logo/download.jpeg" alt=""></a>
                <div class="navitems" id="navItems">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="./">HOME</a></li>
                        <li><a href="./#aboutus">ABOUT</a></li>
                        <li><a href="./#gallerypic">GALLERY</a></li>
                        <li><a href="./#contactpls">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
        </div>

        <div class="eh">EVENTS</div>
    </section>

    <script>
        var navItems = document.getElementById("navItems");
        function showMenu() {
            navItems.style.right = "0";
        }
        function hideMenu() {
            navItems.style.right = "-200px";
        }
    </script>

    <div class="ultrabox31">
        <div class="box31">
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/1.jpeg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Jan 10, 2023</span>
                    <h3>Ceremonial Convocation of batch 2020 IIT Indore</h3>
                    <p>IIT Indore hosted the Ceremonial Convocation of 2020 batch on December 28, 2022.
                        Out of the total of 412 degree recipients, 170 were present at the ceremony. The 2020
                        batch comprised of 233 B.Tech, 58 M.Sc., 57 M.Tech, 6 MS Research and 58 Ph.D.
                        Professor Amitabha Ghosh, Platinum Jubilee Senior Scientist, The National Academy of
                        Sciences, India and former Director, IIT Kharagpur was the Chief Guest.</p>
                    <button class="registerbtn">Register</button>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/1.jpeg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Jan 10, 2023</span>
                    <h3>Ceremonial Convocation of batch 2020 IIT Indore</h3>
                    <p>IIT Indore hosted the Ceremonial Convocation of 2020 batch on December 28, 2022.
                        Out of the total of 412 degree recipients, 170 were present at the ceremony. The 2020
                        batch comprised of 233 B.Tech, 58 M.Sc., 57 M.Tech, 6 MS Research and 58 Ph.D.
                        Professor Amitabha Ghosh, Platinum Jubilee Senior Scientist, The National Academy of
                        Sciences, India and former Director, IIT Kharagpur was the Chief Guest.</p>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/2.jpeg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Jan 03, 2023</span>
                    <h3>Proudly Made in India, Dozee's Contactless VS Measurement Technology receives USFDA Clearance
                    </h3>
                    <p>Dozee Contactless Vital Signs (VS) Measurement System has received US-FDA 510K clearance. FDA
                        clearance for any technology is a symbol of the best global standards.
                        Established in 2015, Bengaluru-based AI healthcare startup Dozee was set up by our alumnus, Mr
                        Gaurav Parchani (BTech ME 2013). Mr Gaurav has also been featured in Forbes India 30 under 30.
                        Dozee provides contactless health monitors that silently track heart, respiration, sleep
                        patterns, stress levels, cardiac contractions, apnea, and more while sleeping. Its artificial
                        intelligence algorithms enable early detection of any health deterioration.
                        IIT Indore is exceptionally proud of its co-founder.
                        We are confident that his accomplishment will inspire all of our students and propel us to
                        greater levels.</p>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/3.jpeg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Oct 27, 202</span>
                    <h3>Batch of 2026 IIT Indore</h3>
                    <p>366 students, including 77 girl students, 1 OCI student and 4 preparatory students, enrolled in
                        various disciplines of BTech Courses at IIT Indore.</p>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/4.jpg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Jan 29, 2022</span>
                    <h3>Gaurav Parchani's Dozee Healthtech Goes Global!</h3>
                    <p>Our alumnus, Mr Gaurav Parchani (BTech ME 2013) had come up with a startup, Dozee which is now
                        India's first contactless remote patient monitoring device, that tracks chronic cardiac
                        conditions, hypertension and respiratory diseases.
                        Recently, Dozee was seen in the limelight when it had received an additional fundraise of Rs. 71
                        crore led by DoorDash's product and business helper Gokul Rajaram. The company added that the
                        current funding round also saw participation from existing investors, including Prime Venture
                        Partners, 3one4 Capital, YourNest, among other angel investors
                        Mr Gaurav has also been featured in Forbes India 30 under 30. His remarkable contribution in
                        revolutionizing contactless healthcare amidst the Coronavirus pandemic as the co-founder of
                        Dozee has made IIT Indore very proud indeed.

                        We believe his achievement will act as a stimulus to all of the students and help us soar to new
                        heights.</p>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/5.jpg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Oct 27, 2019</span>
                    <h3>INSTITUTE INSIGHTS || THE TECHNOBER</h3>
                    <p>October,started as one of the most grueling month for all the techies in the campus with the
                        conduction of Intra IIT tech meet, Mid-semester examinations and ended on a positive and joyous
                        note with Mid-semester break for all the students with most of the students paying visit to
                        their homes to come refreshed for the upcoming End-semester examinations in November.</p>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/10.jpg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Oct 27, 2019</span>
                    <h3>INSTITUTE INSIGHTS || JUL-SEP 2019</h3>
                    <p>The period from July to September was jam-packed with various activities across cultural and
                        technical domains. All the events gained great popularity and ensured the whole-hearted
                        participation of not just the IITI fraternity but also students from other institutions as well.

                        In July, this semester kicked off to a great start with the two-day long cultural orientation
                        aimed at showcasing the talents of various cultural clubs so as to let the first-year students
                        get an idea as to which are the right clubs for them. </p>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/11.jpg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Sep 05, 2019</span>
                    <h3>#ThatOneTeacher: Featuring Memorable Stories of IIT Indore Alumni with Our Teachers</h3>
                    <p></p>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/12.jpg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Aug 14, 2019</span>
                    <h3>Celebrating the Beautiful Siblings Bond with Our Alumni Siblings</h3>
                    <p></p>
                </div>
            </div>
            <div class="sbox31">

                <div class="smallbox32">
                    <img src="../static/alumni/13.jpg" alt="">
                </div>
                <div class="smallbox32">
                    <span class="date31"><img src="../static/calendar.png" class="calimg" alt="">Jul 11, 2019</span>
                    <h3>#MyFirstJob: Encouraging First Job Stories of IIT Indore Alumni</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>