<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <link rel="stylesheet" href="../static/features.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
  <script src="../features.js"></script>
</head>

<body>
  <section class="feat" id="ft">

    <div id="prof" class="prof">

      <div class="text">
        <h2>Features</h2>
      </div>
      <div class="btn">
        <span>
          <img src="../static/MenuN.png" id="Me" width="30px" height="30px">
        </span>
      </div>

      <div class="dabba">
        <i id="viewprofile"><img src="./RequestN.png"></i>
        <i id="chatfriend"><img src="./ChatN.png"></i>
        <i id="searchalumni"><img src="./SearchN.png"></i>
        <i id="jobopp"><img src="./PlusN.png"></i>

      </div>
    </div>

    <div id="des">
      <br><br><br><br><br><br><br><br>
      <h1>Features</h1>
      <h3>The alumni portal is equipped with various features! Click on the menu and hover to learn more.</h3>
    </div>

  </section>


</body>

</html>